# Copy to .env and adjust before running `docker compose up`

APP_NAME=HotBill
APP_ENV=production
APP_KEY=base64:SgxEPC/3NNDXhBnp82H6AsFpwCcmpl5fBCWmFc2Owrs=
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_DATABASE=hotbill
DB_USERNAME=hotbill
DB_PASSWORD=hotbill_secret
DB_ROOT_PASSWORD=root_secret

NEXT_PUBLIC_API_URL=http://localhost:8000/api/v1
